/* GLOBALS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #252526;
  color: #fff;
  height: 100vh;
  
}

.color-box {
  width: 1rem;
  height: 1rem;
  margin-left: .4rem;
}

/* SPECIFIED */
main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .area-stove {
  display: flex;
  flex-direction: column;
  min-height: 40rem;
  max-height: 40rem;
  overflow-y: auto;

  width: 100%;
  max-width: 42rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1e1e1e;
  margin: 0  auto;
  position: relative;
}

main .area-stove .stove > p,
main .area-stove .stove > p > span {
  display: flex;
  flex-direction: row;
}
main .area-stove .button-create-stove {
  width: 10rem;
  height: 2rem;
  background: #252526;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: all .3s;
  outline: none;
}
main .area-stove #stovesArea {
  width: 100%;
}
main .area-stove #stovesArea .stove {
  border: 1px solid #fff;
  padding: 1rem;
  margin-top: 1rem;
  width: 100%;
}